@charset "utf-8";
/* CSS Document */
html{
	width: 100%;
	height: 100%;
	overflow-y: hidden;
}
body{
	margin: 0px;
	padding: 0px;
	background-color: #F5F6F7;
	overflow-y: hidden;
}
div,p,img{
	margin: 0px;
	padding: 0px;
	
}
img{
	border:none;
}
/*********** Background ***********/
div.backPanel {
	width: 100%;
	height: 100%;
	z-index: -100;
	position: fixed;
	left: 0px;
	top: 0px;
}
div.backPanel img{
	width: 100%;
	height: 100%;
}
@media screen and (max-device-width:800px){
	body{
		background-color: #F5F6F7;
		
	}
	div.backPanel {
		display: none;
	}
	div.backPanel img{
		display: none;
	}
}
/*********** NavBar ***********/
div#navWrapper{
	position: fixed;
	top: 0px;
	left: 0px;
	height: 70px;
	width:510px;
	/*display: none;*/
}
nav div{
	float: left;
	height: 70px;
	display: inline-block;
	background-color: #000;
	opacity: 0.7;
}
nav a.logo{
	font: 700 25px/70px Raleway,'Lucida Sans Unicode', 'Lucida Sans Unicode','Lucida Grande','Lucida Sans',sans-serif;
	color: #FFF;
	text-decoration: none;
	margin: 0px 40px 0px 30px;
}

nav div.corner{
	background-color: transparent;
	opacity: 0.7;
	width: 70px;
	background-image: url('../img/nav.png');
	background-position: -90px 0px;
}
nav div.links{
	width: 200px;
}
nav ul{
	display: inline-block;
	width: 200px;
	height: 70px;
	margin: 0px;
	padding: 0px;
}
nav li{
	display: inline-block;
	list-style: none;
	width: 60px;
	height: 70px;
	margin: 0px;
	padding: 0px;
}
nav a.link{
	display: block;
	width: 60px;
	height: 70px;
}
nav a.link p{
	position: relative;
	top: 15px;
	left: 5px;
	width: 30px;
	height: 30px;
	background-image: url('../img/nav.png');

}
nav a.link p.second{
	display: none;
	margin-top: -30px;
	width: 30px;
	height: 30px;
	background-image: url('../img/nav.png');
}
.nav-mail{
	background-position: 0px 0px;
}
.nav-mail2{
	background-position: 0px -30px;
}
.nav-fb{
	background-position: -30px 0px;
}
.nav-fb2{
	background-position: -30px -30px;
}
.nav-git{
	background-position: -60px 0px;
}
.nav-git2{
	background-position: -60px -30px;
}
/*********** Main***********/
article#mainPanel{
	width: 1600px;
	height: 480px;
	position: absolute;
	top: 50%;
	margin-top: -270px;
	left: 220px;
	font-family: Raleway,'Lucida Sans Unicode', 'Lucida Sans Unicode','Lucida Grande','Lucida Sans','DejaVu Sans Condensed',sans-serif;
	opacity: 0;
}
section{
	float: left;
	font-size: 14px;
	font-weight: 400;
	margin-right: 70px;	
}
section header{
	margin-left: 5px;
	font-size: 28px;
	font-weight: 700;
	color: rgba(94, 94, 94, 0.96);
}
div.tilesGroup{
	/*border: 1px solid rgb(0,0,0);*/
}
div.size-one{
	/* width: 320px; */
}
div.size-two{
	width: 435px;
}
div.size-three{	
	width: 580px;
}
.tile{
	background-color: #c40f0f;
	margin: 5px 5px 5px 5px;
	color: #FFFFFF;
	text-decoration: none;
	display: block;
	position: relative;	
	-webkit-box-shadow: 4px 4px 10px #CCC;
	   -moz-box-shadow: 4px 4px 10px #CCC;
			box-shadow: 4px 4px 10px #CCC;
}
.tile-small {
	float: left;
	height: 135px;
	width: 135px;
}
.tile-large-horizontal{
	float: left;
	height: 135px;
	width: 280px;
}
.tile-large-vertical{
	float: right;
	height: 280px;
	width: 135px;
}
p{
	position: absolute;
	left: 8px;
	bottom: 10px;
	visibility: visible
}
/*************scroll***************/
.scrollable{
	overflow: hidden;
	position:relative;
}
.scrollable div{
	margin: 0px;
	padding:0px;
}
.scrollable a{
	margin: 0px;
	padding: 0px;
	display: block;
	width: 280px;
	height: 135px;	
}

.horizontal {
	position:absolute;
	width:20000em;
}
.horizontal div.item{
	float: left;
}
.vertical {
	position:absolute;
	height:20000em;
}

.item-first{
	position: relative;
}
.item {
	width:280px;
	height:135px;
}

.scrollable img{ 
	width:280px;
	height:135px;  
}
/***********logos************/
.logo-small{
	position: absolute;
	top: 20px;
	left: 25px;
	width: 85px; 
	height: 85px;
	background-image: url('../img/logos.png');
}
.logo-vertical{
	position: absolute;
	top: 96px;
	left: 25px;
	width:85px;
	height:85px;
	background-image: url('../img/logos.png');
}
.logo-horizontal-large{
	position: absolute;
	top: 25px;
	left: 80px;
	width:121px;
	height:85px;
	background-image: url('../img/logos.png');
}
.logo-horizontal-small{
	position: absolute;
	top: 25px;
	left: 96px;
	width:85px;
	height:85px;
	background-image: url('../img/logos.png');
}
.logo-photo{
	background-position: 0px 0px;
}
.logo-email{
	background-position: -85px 0px;
}
.logo-bio{
	background-position: -170px 0px;
}
.logo-resume{
	background-position: -255px 0px;
}
.logo-js{
	background-position: 0px -425px;
}
.logo-java{
	background-position: 0px -85px;
}
.logo-html5{
	background-position: -85px -85px;
}
.logo-css3{
	background-position: -170px -85px;
}
.logo-mysql{
	background-position: -255px -85px;
}
.logo-php{
	background-position: 0px -170px;
}
.logo-geeglo{
	background-position: -140px -425px; 
}
.logo-comp{
	background-position: -170px -170px;
}
.logo-agri{
	background-position: -255px -170px;
}

.logo-together{
	background-position: -85px -170px;
}
.logo-motions{
	background-position: 0px -255px;
}
.logo-top{
	background-position: -85px -255px;
}
.logo-animelover{
	background-position: -170px -255px;
}
.logo-icm{
	background-position: -255px -255px;
}
.logo-tv{
	background-position: 0px -340px;
}
.logo-books{
	background-position: -85px -340px;
}
.logo-movies{
	background-position: -170px -340px;
}
.logo-anime{
	background-position: -255px -340px;
}
/***********photoss************/
.photos{
	background-image: url('../img/photos.jpg');
}
.animes{
	background-image: url('../img/animes.jpg');
}
.tvs{
	background-image: url('../img/tvs.jpg');
}
.item-second{
	background-position: 0px 0px;
}
.item-third{
	background-position: 0px -135px;
}
.item-fourth{
	background-position: 0px -270px;
}
.item-fifth{
	background-position: 0px -405px;
}
/*********** clearfix ***************/
.clearfix:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}
.clearfix{*zoom:1;}
/*********** Selection ***********/
*::selection {
	background: #fb1616;
	color: white;
}
*::-moz-selection {
    background:#fb1616;
    color: white;
}
*::-webkit-selection {
    background:#fb1616;
    color: white;
}
